<p id="notice"><%= notice %></p>

<h1>New Post</h1> 
<%= form_with model: @post, local: true, id: "newPost" do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="actions">
    <%= form.submit "Create Post", id: "boton" %>
  </div>
<% end %>

<br><br><h1>Posts</h1>
<p>Buscar:</p>
<form action="<%= posts_path %>">
  <input type="text" name="buscar">
</form><br><br>

<table id="postList">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<script>
  $("#boton").click(function(e){
    var newPost = $("#newPost");
    $.ajax({
        url: newPost.action,
        type: 'POST',
        dataType: 'script',
        data: newPost.serialize()
    });
    e.preventDefault();
  });
  $(".eliminar").click(function(e){
    $.ajax({
        url: $(this).attr('href'),
        type: 'POST',
        dataType: 'script',
        data: {"_method":"delete"}
    });
    e.preventDefault();
  });
  $("[name=buscar]").keypress(function(e) {
    $.ajax({
      url: '<%= posts_path %>',
      type: 'GET',
      dataType: 'script',
      data: { buscar: $(this).val() }
    });
  });
</script>
